<div class="card-group"> <!-- para comentar es ALT+SHIF+A  -->
  <!--  --><div class="card" *ngFor="let d of datos">  <!-- Aqui se usa un array que es un foreach -->
    <img [src]="d.foto" class="card-img-top" alt="..."> <!-- el src en corchetes hace alusion a que toma un array -->
    <div class="card-body">
      <h5 class="card-title">{{d.email}}</h5> <!-- otra manera de tomar un array -->
      <p class="card-text">{{d.telefono}}</p>
      <p class="card-text">{{d.puesto}}</p>
      <p class="card-text">{{d.area}}</p>
      <p class="card-text"><small class="text-muted">{{d.sexo}}</small></p>
      <button [routerLink]="['/imprimir/rutaImprimir'] ">imprimir</button>

      <!-- el array esta creado en datos-personales.component.ts -->
    </div>
  </div>
  <!--<ngx-qrcode
  [elementType]="elementType"
  [value]="dataToString"
  [scale] = 'scale'
  cssClass="aclass"
  [errorCorrectionLevel]="errorCorrectionLevel">
</ngx-qrcode>-->
</div>
